
/* HEADER */

#header-nav {
    border: 0;
    background-color: #ffa500;
    
}

h1.text-center {
    font-family: "QuickSand", sans-serif;
}

.navbar-brand {
    height: auto;
}

.navbar-brand h1 {
    margin-top: 15px;
    font-family: "QuickSand", sans-serif;
    font-size: 2em;
    color: black;
    margin: 0;
    
}
.icon-bar {
    border: 1px solid;
}



/* p.text-center {
    border: 1px solid;
} */

/* MAIN CONTENT */

#main-content h1 {
    margin-bottom: 30px;
}

.text-content {
    padding: 25px;
}

@media (max-width: 767px) {
#collapsable-nav {
    background-color: #a500ff;
    padding: 0;
}

#nav-list {
    margin: 0;
}

#nav-list li {
    width: 100%;
}

#nav-list li p {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0;
    color: black;
    font-weight: 500;
    font-family: "QuickSand",sans-serif;
}
#first-option {
    border: 1px solid black;
}
#second-option {
    border-top: 0;
    border-bottom: 0;
    border-left: 1px;
    border-right: 1px;
    border-style: solid;
    border-color: black;
}

#third-option {
    border-top: 1px;
    border-bottom: 1px;
    border-left: 1px;
    border-right: 1px;
    border-style: solid;
    border-color: black;
}

}